@import "compass/css3/transition";

$theme.feed-item {
  font-size: 14px;

  > span {
    z-index: 1;
    position: relative;
    padding-left: 12px;
    margin-top: 12px;
    display: block;
    @include transition-property(padding-left);
    @include transition-duration(.3s);
    @include transition-delay(.3s);
    &.title {
      font-weight: bold;
      line-height: 17px;
    }
    &.detail {
      margin-top: 1px;
      line-height: 13px;
      font-size: 11px;
      color: #666;
      -webkit-font-smoothing: antialiased;
    }
  }

  &.has-icon > span {
    @include transition-delay(0s);
    padding-left: 38px; /* 12px + 16px + 10px */
  }

  &.sel .detail {
   color: #FFF;
  }

  img {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    left: 12px;
    opacity: 0;
    @include transition-property(opacity);
    @include transition-duration(.3s);
  }

  &.has-icon img {
    opacity: 1;
    @include transition-delay(.3s);
  }
}
