@import "compass/css3/transition";

$theme.feed-item {

  .title, .detail {
    @include transition-property(left);
    @include transition-duration(.3s);
    @include transition-delay(.3s);
  }

  &.has-icon {
    .title, .detail {
      @include transition-delay(0s);
      left: 48px; /* 22px + 16px + 10px */
    }
  }


  .title {
    position: absolute;
    font-size: 14px;
    line-height: 17px;
    top: 12px;
    left: 22px;
    font-weight: bold;
  }

  .detail {
    position: absolute;
    font-size: 11px;
    line-height: 13px;
    color: #666;
    -webkit-font-smoothing: antialiased;
    bottom: 11px;
    top: 30px; /* 12px + 17px + 1px */
    left: 22px;
  }

  &.sel .detail {
    color: #FFF;
    font-weight: normal;
  }

  img {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    left: 22px;
    opacity: 0;
    @include transition-property(opacity);
    @include transition-duration(.3s);
  }

  &.has-icon img {
    opacity: 1;
    @include transition-delay(.3s);
  }
}
