$theme.editor {
  .remove.checkbox .button {
    top: 19px;
    left: 27px;
  }

  .header {
    .checkbox .label {
      margin-left: 10px;
    }

    .title {
      font-size: 11px;
      line-height: 21px;
    }
  }

  .collection {
    .sc-list-item, .sc-collection-item {
      border-bottom: 1px solid #EEE !important;
    }
  }
}
