@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

$theme.sc-scroller-view.sc-vertical {
  .track, .cap, .endcap,
  .thumb .thumb-top, .thumb .thumb-bottom {
    background: transparent;
  }
  .thumb {
    width: 8px;
  }
  .thumb .thumb-center {
    width: 8px;
    background-image: none;
    background-color: rgba(0, 0, 0, .3);
    @include box-shadow(#FFF 0 0 3px 0);
    @include border-radius(4px);
    right: -2px;
    top: 4px;
  }

  .track {
    @include transition-duration(.1s);
    @include border-radius(4px);
    width: 8px;
    left: 2px;
    bottom: 3px;
    top: 3px;
  }

  &:hover {
    .track {
      @include box-shadow(rgba(0, 0, 0, .3) 0 0 10px 0 inset);
      background-color: rgba(0, 0, 0, .1);
    }
  }
}
