@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transition";

$theme.sc-scroller-view.sc-vertical {
  z-index: 100;
  .track, .cap, .endcap,
  .thumb .thumb-top, .thumb .thumb-bottom {
    background: transparent;
  }

  .thumb {
    width: 8px;
    left: 50%;
    margin-left: -3px;
  }

  .thumb .thumb-center {
    width: 8px;
    background-image: none;
    background-color: rgba(0, 0, 0, .35);
    @include box-shadow(#FFF 0 0 3px 0);
    @include border-radius(4px);
    top: 4px;
  }

  .track {
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    @include box-shadow(rgba(0, 0, 0, .15) 0 0 6px 0 inset);
    background-color: rgba(220, 220, 220, .1);
    border-left: 1px solid #E4E4E4;
  }

  .sc-scroll-view.hide-scrollbars > &{
    .thumb {
      margin-left: -4px;
    }

    .thumb .thumb-center {
      @include transition-duration(.15s);
      opacity: 0;
      background-color: rgba(0, 0, 0, .5);
    }

    .track {
      @include transition-duration(.15s);
      @include border-radius(4px);
      width: 8px;
      left: 2px;
      bottom: 2px;
      top: 2px;
      @include box-shadow(none);
      background-color: transparent;
      border-left: 0px;
    }

    &.active-thumb {
      .thumb .thumb-center {
        opacity: 1;
      }
    }

    &.active-track {
      .track {
        @include box-shadow(rgba(0, 0, 0, .25) 0 0 6px 0 inset);
        background-color: rgba(200, 200, 200, .3);
      }
    }
  }
}
